@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    /*    padding-top: 20px;*/
}

* {
    font-family: 'Noto Sans TC';
}

div#mainPageContainer {
    width: 100%;
    display: inline-flex;
}



div#sideNav #logoContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    align-self: center;
}

div#sideNav #logo {
    width: 150px;
    height: 150px;
}

div#sideNav #sideNavOptionContainer {
    width: 60%;
    align-self: center;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

div#sideNav .sideNavOption {
    font-style: normal;
    line-height: 1.8em;
    text-transform: none;
    letter-spacing: 0em;
    font-size: 16px;
    width: fit-content;
    font-size: medium;
    font-weight: 300;
    padding: 1px 10px;
    cursor: pointer;
    margin: 1px 0px;
    transition: color .5s;
    border-radius: 2px;
}

div#sideNav .sideNavOption.selected {
    color: #FF5456;
}

div#sideNav .sideNavOption:not(.selected):hover {
    /*    background-color: #CFDADC;*/
    color: #FFF;
}

div#mainPage {
    flex: 1 1 auto;
    background-color: #FFF;
}

img.photoBlockImg {
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer;
    border: 5px solid transparent
}

img.photoBlockImg.loading {
    opacity: 0;
}

div.album {
    margin-bottom: 15em;
}

div.albumContent {
    /*    border-top: 4px solid #CFDADC;*/
    padding-top: 5px;
}

div#divAboutMe,
div#divContactMe {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
    background-color: #E4E1DE;
}

div#photoDetail {
    height: 100vh;
    flex: 1 1 auto;
    display: none;
    opacity: 0;
    transition: opacity .5s;
}

div#divAboutMe img.myface {
    flex: 0 1 250px;
    align-self: center;
    justify-self: center;
    border: 10px solid #f1f1f1;
}

div.myfaceContainer {
    text-align: center;
}

div#divAboutMe div#aboutMeContainer {
    flex: 1 1 auto;
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
}

p.aboutMeTitle {
    font-family: arial;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: .01em;
    margin: 1em 0;
    font-size: 35px;
    text-align: center;
}

.aboutMeSubtitle {
    border-bottom: 2px solid #FFF;
    padding-bottom: 5px;
}

div.aboutMeContentContainer {
    padding: 0px 100px;
}

div.aboutMeContent,
p.aboutMeContent {
    font-weight: 400;
    font-style: normal;
    line-height: 1.8em;
    text-transform: none;
    letter-spacing: .02em;
    font-size: inherit;
    margin: 0 0 1em;
    text-align: left;
}

div.aboutMeContent li {
    list-style-type: none;
}

img.photoDetailImg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: opacity .5s;
    opacity: 1;
}

img.aboutmeIcon {
    margin: 0px 3px;
}

.aboutMeBlock {
    margin-bottom: 2em;
}

a.aboutMeMailTo {
    color: inherit;
}

.loading {
    opacity: 0;
}

div#photoDetailImg {
    flex: 1 1 auto;
    height: 100%;
    padding: 2em;
    position: relative;
    margin-left: 70px;

    /*
    display: flex;
    justify-content: center;
    align-content: center;
*/
}

div#photoDetailMeta {
    /*    height: 30%;*/
    overflow-y: auto;
}

button.floating-btn {
    background: #181717;
    position: fixed;
    left: 1em;
    bottom: 1em;
    padding: 3.2em 2em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 60;
    outline: none;
}

div#infoButton {
    background-color: #CFDADC;
    /* flex: 0 0 70px; */
    /* display: flex; */
    /*    min-width: 0px;*/
    /*    opacity: 0;*/
    position: absolute;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    animation: grow .5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes grow {
    from {
        width: 0px;
        opacity: 1;
    }

    to {
        width: 70px;
        opacity: 1;
    }
}

span.functionbtn {
    display: block;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    opacity: .8;
    transition: opacity .5s;
}

span.functionbtn:hover {
    opacity: .5;
}

img.functionbtn {
    margin: 5px;
    cursor: pointer;
    opacity: .8;
    transition: opacity .5s;
}

img.functionbtn:hover {
    opacity: .5;
}

div#photopageContainer {
    flex: 1 1 auto;
    padding: 20px;
    transition: -webkit-filter .5s, opacity .5s;
}

div#divWorks {
    display: flex;
    position: relative;
    width: 100%;
}

div.albumTitle {
    margin-left: 5px;
    padding-left: 1em;
    border-left: 8px solid #CFDADC;
}
div.aboutMeLinkContainer{
    margin-bottom: 2em;
}
div.aboutMeLinkContainer a {
    text-decoration: none;
    transition: opacity .5s;
}

div.aboutMeLinkContainer a:hover {
    opacity: .7;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* side navibar style --- mobile*/

@media screen and (max-width: 768px) {
    div#exifInfoSection {
        display: none;
    }

    div#sideNav {
        display: none;
    }
    body {
        text-align: center;
    }
    div.albumTitle {
        text-align: -webkit-auto;
    }


    div#mainPageContainer {
        width: 100%;
        padding-top: 50px;
    }

    .masonrySizer,
    .photoBlockImg {
        width: 100%;
    }

    .navbar-default.navbar {
        margin-bottom: 0;
        background-color: #4B5C66;
        color: #CFDADC;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        border-radius: 0;
    }

    .navbar-default .navbar-toggle span.icon-bar {
        background-color: #CFDADC;
    }

    .navbar-default a.navbar-brand {
        color: #CFDADC;
    }

    .navbar-default ul.navbar-nav > li > a {
        color: #CFDADC;
        transition: .5s color;
    }

    .navbar-nav li a:hover,
    .navbar-nav li.active a {
        color: #FF5456 !important;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #CFDADC !important;
    }

    div.aboutMeContentContainer {
        padding: 0px 30px;
    }
}

/* side navibar style --- desktop */

@media screen and (min-width: 769px) {
    img.photoBlockImg:not(.loading):hover {
        opacity: 0.5;
    }

    .navbar {
        display: none;
    }

    div#sideNav {
        /*        position: fixed;*/
        top: 0;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        width: 280px;
        flex: 0 0 280px;
        color: #CFDADC;

        height: -webkit-fill-available;
        background-color: #4B5C66;
    }

    div#exifInfoSection {
        position: fixed;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        width: 0px;
        color: #F1F0EE;

        height: -webkit-fill-available;
        background-color: #B5AEA5;
        z-index: 50;
        word-break: break-all;
        overflow: hidden;
        transition: width .7s;
    }

    div#exifInfoBtnContainer {
        justify-content: space-between;
        display: flex;
        flex: 0 0 40px;
        padding: 0px 40px;
    }

    div#exifInfoDetailContainer {
        flex: 1 1 auto;
        padding: 10px 40px;
        margin-top: 3em;
    }

    div#exifInfoBtnContainer span.functionbtn {
        padding: 5px 0px 0px 0px;
    }

    div#exifInfoBtnContainer span.functionbtn#btnbackPhotoDetail {
        text-align: left;
    }

    div#exifInfoBtnContainer span.functionbtn#btnCloseExifInfo {
        text-align: right;
    }

    div#exifInfoSection.showing {
        width: 280px;
    }

    body {
        text-align: -webkit-auto;
    }
    div#mainPage {
        /*margin-left: 280px; */
        /* padding: 20px; */
        color: #4B5C66;
        overflow: auto;
        position: relative;
        /* width: 100%; */
        height: 100vh;
    }

    div#mainPageContainer {
        width: 100%;
        /*        padding: 0 2em;*/
    }

    img.exifDataTitleIcon {
        width: 36px;
        height: 36px;
        margin: 10px 15px 10px 0px;
    }

    div.exifDataContainer {
        width: fit-content;
    }

    img.socialMediaIcon {
        filter: invert(80%);
        margin: 5px 8px 5px 0px;
        transition: .5s;
        /*        cursor: pointer;*/
    }

    img.socialMediaIcon:hover {
        filter: invert(100%);
    }

    div#socialMediaContainer {
        padding-left: 10px;
        width: 60%;
        align-self: center;
        padding-top: 1em;
        display: inline-flex;
        flex-direction: row;
        justify-content: left;
    }

    div.photoDetailBtnContainer {
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
    }

    div.photoDetailBtn {
        width: 15%;
        height: 100%;
        display: inline-block;
    }

    div.photoDetailBtn.centerBtn {
        width: 70%;
        height: 100%;
        display: inline-block;
    }

    div#backToPhotoWall {
        cursor: url(img/detail_cursor_icon/cursor_homepage.png), auto;
    }

    div#prevPhoto {
        cursor: url(img/detail_cursor_icon/cursor_prev.png), auto;
    }

    div#nextPhoto {
        cursor: url(img/detail_cursor_icon/cursor_next.png), auto;
    }

    div#photopageContainer.photoDetailShowing {
        opacity: .3;
        -webkit-filter: grayscale(100%);
    }

    div#photoDetail.photoDetailShowing {
        position: absolute;
        display: flex;
        /* top: 0px; */
        opacity: 1;
        width: inherit;
    }

    @media screen and (min-width: 768px) and (max-width: 960px) {
        .masonrySizer,
        .photoBlockImg {
            width: 100%;
        }
    }

    @media screen and (min-width: 960px) and (max-width: 1200px) {
        .masonrySizer,
        .photoBlockImg {
            width: 50%;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        .masonrySizer,
        .photoBlockImg {
            width: 33.33%;
        }
    }

    @media screen and (min-width: 1440px) {
        .masonrySizer,
        .photoBlockImg {
            width: 25%;
        }
    }
    /*

    @media screen and (min-width: 1600px) {
        .masonrySizer,
        .photoBlockImg {
            width: 20%;
        }
    }
*/
}

/*loading animation*/

/*start*/

.sk-fading-circle {
    /*  margin: 100px auto;*/
    width: 40px;
    height: 40px;
    /*    position: relative;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #4B5C66;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/*end*/
